body {
    background-color: #fff4d6;
}

.header {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Allura', cursive;
}

.flex-container {
    
    display: flex;
}

.flex-item {
-webkit-flex: 3 1 100px; 
-ms-flex:  3 1 100px; 
flex:  3 1 100px;
}
