.row {
    margin-top: 10px;
}

#dropdownMenuButton {
    font-size: 12px;
    margin-right: 10px;
}

#centralText {
    font-family: 'Mandali', sans-serif;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#textPhoto {
    display: flex;
}

#magPieces {
    margin-top: 120px;
    text-align: center;
    font-family: 'Mandali', sans-serif;
    font-size: 20px;
}
